// Вставить в конец файла, добавить TabControl в главное окно
IDD_TAB_CLOUD_CRYPT DIALOGEX 0, 0, 400, 200
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 10, "Segoe UI"
BEGIN
    LTEXT       "Исходный EXE:", -1, 10,10,80,14
    EDITTEXT    IDC_SPECIAL_SRC, 100,10,200,14, ES_AUTOHSCROLL
    PUSHBUTTON  "...", IDC_SPECIAL_BTN_SRC, 310,10,30,14
    LTEXT       "Сохранить как:", -1, 10,30,80,14
    EDITTEXT    IDC_SPECIAL_DST, 100,30,200,14, ES_AUTOHSCROLL
    PUSHBUTTON  "...", IDC_SPECIAL_BTN_DST, 310,30,30,14
    PUSHBUTTON  "Зашифровать!", IDC_SPECIAL_BTN_CRYPT, 120,55,90,18
    EDITTEXT    IDC_SPECIAL_LOG, 10,80,370,110, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END