#include "resource.h"
#include <windows.h>

IDD_MAIN_DIALOG DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "WinCryptor"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_TAB,"SysTabControl32",WS_TABSTOP,10,10,300,20
    CONTROL         "",IDD_TAB_CLOUD_CRYPT,"Button",WS_CHILD | WS_VISIBLE,10,40,300,120
    PUSHBUTTON      "Сменить язык",IDC_LANG_SWITCH,200,170,100,20
END

IDD_TAB_CLOUD_CRYPT DIALOGEX 0,0,300,120
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    LTEXT           "Исходный файл:",-1,10,10,80,8
    EDITTEXT        IDC_SPECIAL_SRC,100,10,150,12,ES_AUTOHSCROLL
    LTEXT           "Результат:",-1,10,30,80,8
    EDITTEXT        IDC_SPECIAL_DST,100,30,150,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Зашифровать",IDC_SPECIAL_CRYPT,10,60,100,20
END
